.logo
{
  margin-top: 30%;
  position: relative;
  margin-bottom: 10%;
}
.background a
{
  text-decoration: none;
  color: #07AEEF;

}
//.background ion-row
//{
//  margin-bottom: 20px;
//}
.btn
{
  margin-top: 30%;
}
.action
{
  font-size: 20px;
}
ion-col > span
{
  font-size: 10px;
  margin-top: 10px;
  color: red;
}
